@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0px;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-right: 0;
  padding-left: 0;
}

#page-content-wrap {
  padding-bottom: 118px;
}

ul {
  list-style-type: none;
}

.errors {
  color: #fafafa;
}

li label {
  display: none;
}

.loginform {
  width: 100%;
  margin: 0 auto;
}

form {
  margin-bottom: 35px;
}
form dl dt {
  color: #fafafa;
}

.page-heading {
  text-align: center;
  color: #fafafa;
  margin-top: 20px;
}

.form-control {
  height: auto;
}
.form-control input {
  width: 100%;
}
.form-control textarea {
  width: 100%;
}

.browse-container .card {
  font-size: 0.75rem;
  position: relative;
  display: flex;
  background: #fff;
  width: 90%;
  height: 80px;
  margin: 10px auto;
  box-shadow: 0px 0px 30px 2px #000;
}
@media (max-width: 767px) {
  .browse-container .card .header-wrapper {
    padding-right: 5px;
  }
}
.browse-container .card .header {
  margin: 3px;
  background-size: cover;
  height: 70px;
}
.browse-container .card .header .icon a .fa-heart-o {
  position: absolute;
  left: 270%;
  bottom: 20%;
  background: #f53636;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 5px 30px 1px #f53636;
}
@media (max-width: 767px) {
  .browse-container .card .text-wrapper {
    padding-left: 5px;
  }
}
.browse-container .card .text {
  color: #9B9B9B;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}
.browse-container .card .text .recipe-title {
  font-size: 0.75rem;
  color: #212129;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 5px 0px;
}
.browse-container .card .text .info {
  font-size: 0.75rem;
}
.browse-container .card .text .fa-clock-o {
  color: #9B9B9B;
  margin-left: 0;
}
.browse-container .card .text .fa-users {
  margin-left: 15px;
  color: #9B9B9B;
}
.browse-container .card .text .favourites {
  font-size: 0.75rem;
}
.browse-container .card .text .favourites .fa {
  margin-left: 0;
  margin-right: 5px;
}
.browse-container .card .description {
  text-align: auto;
  display: none;
  font-size: 0.75rem;
  line-height: 1.5;
  text-overflow: ellipsis;
}
.browse-container .card a.btn {
  display: none;
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  font-size: 100%;
  background: #E6A756;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  transition: 250ms;
}
.browse-container .card a.btn:hover {
  background: #f53636;
  transition: 250ms;
}
@media (min-width: 768px) {
  .browse-container .card {
    font-size: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 90%;
    height: 400px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
  }
  .browse-container .card .header {
    background-size: cover;
    height: 150px;
  }
  .browse-container .card .header .icon a .fa-heart-o {
    left: 85%;
    bottom: -60%;
  }
  .browse-container .card .text .recipe-title {
    font-size: 1.1rem;
    margin: 5px 15px;
  }
  .browse-container .card .text .info {
    font-size: 0.75rem;
  }
  .browse-container .card .text .fa-clock-o {
    color: #9B9B9B;
    margin-left: 15px;
  }
  .browse-container .card .text .fa-users {
    margin-left: 15px;
    color: #9B9B9B;
  }
  .browse-container .card .text .favourites .fa {
    margin-left: 15px;
    margin-right: 5px;
  }
  .browse-container .card .description {
    display: block;
    margin: 10px 15px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-overflow: ellipsis;
  }
  .browse-container .card a.btn {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    font-size: 100%;
    display: block;
    background: #E6A756;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 250ms;
  }
  .browse-container .card a.btn:hover {
    background: #f53636;
    transition: 250ms;
  }
}

.recipe-container {
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 25px;
}
.recipe-container .recipe-img {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}
.recipe-container .recipe-title {
  margin-top: 10px;
}
.recipe-container .recipe-meta {
  margin-bottom: 15px;
}
.recipe-container .recipe-meta .fa {
  margin-right: 10px;
}
.recipe-container .recipe-details {
  margin-bottom: 15px;
}
.recipe-container .recipe-details .fa {
  font-size: 2rem;
  margin-right: 15px;
  color: #2d8c6c;
}
.recipe-container .recipe-details .fa-clock-o {
  align-self: center;
  font-size: 2.5rem;
}
.recipe-container .recipe-description {
  margin: 0;
  margin-bottom: 15px;
}
.recipe-container input[type=checkbox] {
  display: none;
}
.recipe-container #unfavourite {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
  border-radius: 50%;
  background: #f53636;
  color: #fff;
  box-shadow: 0px 5px 30px 1px #f53636;
  border: none;
}
.recipe-container #unfavourite .fa {
  position: absolute;
  right: 23%;
  bottom: 20%;
}
.recipe-container #favourite {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
  border-radius: 50%;
  background: #fff;
  color: #f53636;
  box-shadow: 0px 5px 30px 1px #fff;
  border: solid 1px #f53636;
}
.recipe-container #favourite .fa {
  position: absolute;
  right: 23%;
  bottom: 20%;
}
.recipe-container .recipe-ingredients {
  padding-left: 30px;
  padding-top: 15px;
}
.recipe-container ol {
  padding-left: 15px;
}

#cuisine-choose {
  display: none;
}

#main_ingredient-choose {
  display: none;
}

.tooltiptext {
  visibility: hidden;
  width: 85px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 185%;
  left: 185%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.addItem {
  width: 1.75rem;
}

.addItem:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#addSection {
  margin-top: 5px;
}

.selector dd {
  display: inline-block;
  min-width: 135px;
}

@media (min-width: 376px) {
  .checkbox {
    padding-top: 35px;
  }
}
.checkbox dt {
  display: inline-block;
}
.checkbox dd {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -2px;
}
.checkbox dd input {
  width: 1rem;
  height: 1rem;
}

#addIngredientSection {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 5px;
}

#removeIngredientSection {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 5px;
}

.sectionName {
  display: block;
  max-width: 175px;
  margin-top: 10px;
}

.button-icon--wrapper {
  position: relative;
}
.button-icon--wrapper .fa-plus-circle {
  position: absolute;
  font-size: 0.75rem;
  right: 1px;
  bottom: 14px;
}
.button-icon--wrapper .fa-minus-circle {
  position: absolute;
  font-size: 0.75rem;
  right: 1px;
  bottom: 14px;
}

.ingredients-and-method {
  margin-top: 25px;
}

.utensils {
  margin-top: 25px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
