{% extends 'base.html' %} {% block content %} {% from "/includes/_formhelpers.html" import render_field %}

<div class="container">
    <form action="{{ url_for('add_recipe') }}" method="POST">
        <dl>
            <div class="row">
                <div class="col-md-9">
                    {{ render_field(form.image, class="form-control") }} {{ render_field(form.title, class="form-control") }} {{ render_field(form.description, class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ render_field(form.cook_time, class="form-control") }}
                </div>
                <div class="col-md-3">
                    {{ render_field(form.prep_time, class="form-control") }}
                </div>
                <div class="col-md-3">
                    {{ render_field(form.serves, class="form-control") }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ render_field(form.difficulty, class="form-control") }}
                </div>
                <div class="col-md-2">
                    {{ render_field(form.is_vegetarian, class="form-control") }}
                </div>
                <div class="col-md-2">
                    {{ render_field(form.is_vegan, class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 ingredients">
                    {{ render_field(form.ingredients, class="form-control") }}
                </div>
                <div class="col-md-2">
                    <button type="button" id="addIngredient">Add Ingredient</button>
                    <button type="button" id="addIngredientSection">Add New Section</button>
                </div>
                <div class="col-md-6 method">
                    {{ render_field(form.method, class="form-control") }}
                </div>
                <div class="col-md-2">
                    <button type="button" id="addStep">Add Step</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ render_field(form.utensils, class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.other_utensils, class="form-control") }}
                </div>
            </div>
        </dl>
        <input type=submit value='Add Recipe' class="btn btn-primary">
    </form>
</div>

{% endblock %} {% block customJQuery %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#addIngredient").click(function() {
            let i = 3;
            const newListItem = $("<li></li>");
            let newItem = $("<input type='text' value=''></input>")
                .attr("id", "ingredients-" + i)
                .attr("name", "ingredients-" + i);
            $("#ingredients").append(newListItem);
            $("#ingredients li:last-child").append(newItem);
            i++;
        });

        $("#addIngredientSection").click(function() {
            const newSection = $("<input required type='text' id='sectionName' value='' placeholder='Section Name'></input>");
            const addSection = $("<button type='button' id='addSection'>Add Section</button>");
            $(".ingredients:last").append(newSection, addSection);
            
            let sectionNum = 0;

            $("#addSection").click(function() {
                
                sectionNum++;
                
                //console.log(section);
                const sectionName = $("#sectionName").val();

                const section_id = sectionName.toLowerCase();
                let dt = $("<dt><label for='" + section_id + "'>" + sectionName + "</label>");
                let dd = $("<dd></dd>");
                let ul = $("<ul class='form-control' id='" + section_id + "'></ul>");


                $(".ingredients:last").append(dt).append(dd);
                $(".ingredients dd:last").append(ul);


                for (let i = 0; i < 3; i++) {
                    let li = $("<li></li>");
                    let input = $("<input type='text' value=''></input>")
                        .attr("id", section_id + "-" + i)
                        .attr("name", "ingredient" + sectionNum + "-" + i);
                    $(".ingredients ul:last").append(li);
                    $(".ingredients ul:last li").each(function() {
                        $(this).append(input);
                    });
                }
                
                $("#sectionName, #addSection").remove()
            });
        });

        $("#addStep").click(function() {
            let i = 3;
            const newListItem = $("<li></li>");
            let newItem = $("<textarea required type='text' value=''></textarea>")
                .attr("id", "method-" + i)
                .attr("name", "method-" + i);
            $("#method").append(newListItem);
            $("#method li:last-child").append(newItem);
            i++;
        });
    });
</script>
{% endblock %}
