<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/business-casual.min.css" rel="stylesheet">

    <!--fontawesome-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!--Custom Styles-->
    <link href="../static/css/style.css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid" id="page-container">
        <div id="page-content-wrap">
            {% include 'includes/_messages.html' %}


            <h1 class="site-heading text-center text-white d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Sponsored By SOR Cooking Equipment</span>
                <span class="site-heading-lower">The World's Cookbook</span>
            </h1>

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
                <div class="container">
                    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">The World's Cookbook</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item {% if active_page == 'index' %}active{% endif %} px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{url_for('index')}}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                            </li>
                            <li class="nav-item dropdown {% if active_page == 'recipe' %}active{% endif %} px-lg-4">
                                <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Recipes
                    </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{url_for('browse')}}">Browse</a>
                                    <a class="dropdown-item" href="#">My Recipes</a>
                                    <a class="dropdown-item" href="{{url_for('add_recipe')}}">Add Recipe</a>
                                </div>
                            </li>
                            {% if not session['logged_in'] %}
                            <li class="nav-item {% if active_page == 'register' %}active{% endif %} px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{url_for('register')}}">Sign Up</a>
                            </li>
                            <li class="nav-item {% if active_page == 'login' %}active{% endif %} px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{url_for('login')}}">Login</a>
                            </li>
                            {% else %}

                            <li class="nav-item px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{url_for('logout')}}">Logout</a>
                            </li>
                            <span class="navbar-text px-lg-4">
                      <em>Welcome {{session.name}}</em>
                    </span> {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %} {% endblock %}

            <footer class="footer text-faded text-center py-5">
                <div class="container">
                    <p class="m-0 small">Copyright &copy; Your Website 2019</p>
                </div>
            </footer>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    {% block customJQuery %} {% endblock %}

</body>

</html>
