{% extends 'base.html' %} {% block content %} {% from "/includes/_formhelpers.html" import render_field %}

<div class="container">
    <h1 class="page-heading">Edit Recipe</h1>
    <form action="{{url_for('edit_recipe', recipe_id=recipe['_id'])}}" method="POST">
        <dl>
            <div class="row">
                <div class="col-md-9">
                    {{ render_field(form.image, class="form-control", placeholder="Enter Image URL") }} {{ render_field(form.title, class="form-control") }} {{ render_field(form.description, class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ render_field(form.prep_time, class="form-control", placeholder="Time in minutes") }}
                </div>
                <div class="col-md-3">
                    {{ render_field(form.cook_time, class="form-control", placeholder="Time in minutes") }}
                </div>
                <div class="col-md-3">
                    {{ render_field(form.serves, class="form-control", placeholder="Enter Range, e.g. 4-6") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 selector">
                    {{ render_field(form.cuisine, class="form-control item-selector") }}
                    <button type="button" class="addItem" id="cuisine-add">
                        <div class="button-icon--wrapper">
                            <span class="tooltiptext">Add Cuisine</span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button type="button" class="addItem" id="cuisine-choose">
                        <div class="button-icon--wrapper">
                            <span class="tooltiptext">Choose from list</span>
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
                <div class="col-md-3 selector">
                    {{ render_field(form.main_ingredient, class="form-control item-selector") }}
                    <button type="button" class="addItem" id="main_ingredient-add">
                        <div class="button-icon--wrapper">
                            <span class="tooltiptext">Add Ingredient</span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button type="button" class="addItem" id="main_ingredient-choose">
                        <div class="button-icon--wrapper">
                            <span class="tooltiptext">Choose from list</span>
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
                <div class="col-md-3 selector">
                    {{ render_field(form.meal_type, class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 selector">
                    {{ render_field(form.difficulty, class="form-control") }}
                </div>
                <div class="col-md-3 checkbox">
                    {{ render_field(form.is_vegetarian, class="form-control") }}
                </div>
                <div class="col-md-3 checkbox">
                    {{ render_field(form.is_vegan, class="form-control") }}
                </div>
            </div>
            <div class="row ingredients-and-method">
                <div class="col-md-3 ingredients">
                    {{ render_field(form.ingredients, class="form-control") }}
                    <button type="button" class="addItem addIngredient" id="ingredients-add">
                        <div class='button-icon--wrapper'>
                            <span class="tooltiptext">Add Ingredient</span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </button> {% if not recipe_sections[1] %}
                    <button type="button" class="addItem" id="addIngredientSection">
                        <div class='button-icon--wrapper'>
                            <span class="tooltiptext">Add Ingredient Section</span>
                            <i class='fa fa-list-ul' aria-hidden='true'></i>
                            <i class='fa fa-plus-circle' aria-hidden='true'></i>
                        </div>
                    </button> {% endif %} {% if recipe_sections[1] %} {{ render_field(form.ingredients1, class="form-control") }}
                    <button type="button" class="addItem addIngredient" id="ingredients1-add">
                        <div class='button-icon--wrapper'>
                            <span class="tooltiptext">Add Ingredient</span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button type="button" class="addItem" id="addIngredientSection">
                        <div class='button-icon--wrapper'>
                            <span class="tooltiptext">Add Ingredient Section</span>
                            <i class='fa fa-list-ul' aria-hidden='true'></i>
                            <i class='fa fa-plus-circle' aria-hidden='true'></i>
                        </div>
                    </button> {% if not recipe_sections[2] %}
                    <button type='button' class='addItem' id='removeIngredientSection'>
                        <div class='button-icon--wrapper'>
                            <span class='tooltiptext'>Remove Ingredient Section</span>
                            <i class='fa fa-list-ul' aria-hidden='true'></i>
                            <i class='fa fa-minus-circle' aria-hidden='true'></i>
                        </div>
                    </button> {% endif %} {% if recipe_sections[2] %} {{ render_field(form.ingredients2, class="form-control") }}
                    <button type="button" class="addItem addIngredient" id="ingredients2-add">
                        <div class='button-icon--wrapper'>
                            <span class="tooltiptext">Add Ingredient</span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button type='button' class='addItem' id='removeIngredientSection'>
                        <div class='button-icon--wrapper'>
                            <span class='tooltiptext'>Remove Ingredient Section</span>
                            <i class='fa fa-list-ul' aria-hidden='true'></i>
                            <i class='fa fa-minus-circle' aria-hidden='true'></i>
                        </div>
                    </button> {% endif %} {% endif %}
                </div>
                <div class="col-md-6 method">
                    {{ render_field(form.method, class="form-control") }}
                    <button type="button" class="addItem" id="addStep">
                        <div class="button-icon--wrapper">
                            <span class="tooltiptext">Add Step</span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row utensils">
                <div class="col-md-3">
                    {{ render_field(form.utensils, class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.otherUtensils, class="form-control", placeholder="Add comma separated list of utensils, e.g. knife, fork, spoon") }}
                </div>
            </div>
        </dl>
        <input type="submit" value='Update Recipe' class="btn btn-primary">
    </form>
</div>

{% endblock %}
