{% extends 'base.html' %}
{% set active_page = "index" %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../static/img/background2.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Recipes</span>
                    <span class="section-heading-lower">Worth Sharing</span>
                </h2>
                <p class="mb-3">A catalogue of thousands of recipes from all over
                the world. Sign up today and share your best recipes with others!
                </p>
                <div class="intro-button mx-auto">
                    {% if not session['logged_in'] %}
                    <a class="btn btn-primary btn-xl" href="{{ url_for('register') }}">Sign Up!</a>
                    {% else %}
                    <a class="btn btn-primary btn-xl" href="{{ url_for('browse') }}">Browse!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">At SOR Cooking Equipment we believe in
                    good food, cooked right. That's why we have created this
                    website. Our cooking equipment is developed by experts from
                    across the globe so that you can cook like a pro at a
                    reasonable price. Add the required utensils to your recipes
                    and we'll provide you with a link to any matching products
                    we have.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
