{% extends 'base.html' %} {% set active_page = "recipe" %} {% block content %}

<div class="container recipe-container">
    <div class="row header">
        <div class="col-md-4">
            <div class="recipe-img" style="background-image: url({{ recipe['image'] }})">
            </div>
        </div>
        <div class="col-md-8">
            <h1>{{ recipe['title'] }}</h1>
            <div class="row">
                <div class="col">
                    <div class="row recipe-info">
                        <i class="fa fa-clock-o"></i>
                        <div class="col d-flex flex-column">
                            <div>Prep:
                            {% if recipe['prep_time'][0] %}
                                {{ recipe['prep_time'][0] }} Hr
                                {% if recipe['prep_time'][1] %}
                                    {{ recipe['prep_time'][1] }} Mins
                                {% endif %}
                            {% else %}
                                {{ recipe['prep_time'][1] }} Mins
                            {% endif %}
                            </div>
                            <div>Cook:
                            {% if recipe['cook_time'][0] %}
                                {{ recipe['cook_time'][0] }} Hr
                                {% if recipe['cook_time'][1] %}
                                    {{ recipe['cook_time'][1] }} Mins
                                {% endif %}
                            {% else %}
                                {{ recipe['cook_time'][1] }} Mins
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-self-center">
                        <i class="fa fa-cutlery"></i> {{ recipe['difficulty'] }}
                    </div>
                </div>
                <div class="col">
                    <div class="row align-self-center">
                        <i class="fa fa-users"></i>
                        <span>Serves: {{ recipe['serves'] }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>{{ recipe['description'] }}</p>
            </div>
            <div class="row">
                {% if recipe['vegetarian'] %}
                <span><i class="fa fa-leaf"></i>Vegatarian</span> 
                    {% if recipe['vegan'] %}
                    <span><i class="fa fa-leaf"></i>Vegan</span> 
                    {% endif %} 
                {% else %}
                <span>Not suitable for Vegatarians</span> {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="favourite-form" action="{{ url_for('get_recipe', recipe_id=recipe['_id']) }}" method="POST">
                        {% if recipe['_id'] in user_favourites %}
                        <input type="checkbox" name="favourite" checked>
                        <span><button id="unfavourite" value="True" href="#"><i class="fa fa-heart"></i></button>Remove from favourites</span>
                        {% else %}
                        <input type="checkbox" name="favourite">
                        <span><button id="favourite" href="#"><i class="fa fa-heart-o"></i></button>Add to Favourites</span>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Ingredients</h2>
            {% for ingredient_section in ingredient_sections %}
            <h4>{{ ingredient_section }}</h4>
            <ul>
                {% for ingredient in recipe['ingredients'][ingredient_section] %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <h2>Method</h2>
            <ol>
                {% for step in recipe['method'] %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
            {% if recipe['required_utensils']|length >0 %}
            <h4>Required Untensils</h4>
            <ul>
                {% for utensil in recipe['required_utensils'] %}
                    {% if utensil in company_utensils %}
                        <li>{{ utensil }}<a href="{{ company_utensil_links[utensil] }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li>{{ utensil }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block customJQuery %}
<script type="text/javascript">
    $(document).ready(function() {
        function submit(){
            $("favourite-form").submit();
        }
        $("#favourite").click(submit, function(submit){
            $("input[name='favourite']").prop('checked', true);
            submit();
        });
        
        $("#unfavourite").click(submit, function(submit){
            $("input[name='favourite']").prop('checked', false);
            submit();
        });
    });
</script>
{% endblock %}
