{% extends 'base.html' %} {% block content %} {% from "/includes/_formhelpers.html" import render_field %}
<form action="/register" method="POST">
    <dl>
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
    </dl>
    <p><input type=submit value=Register class="btn btn-primary">
</form>

{% endblock %}
