@import url('https://fonts.googleapis.com/css?family=Roboto');

// VARIABLES
$bg: url("https://wallpaperscraft.com/image/coffee_coffee_beans_cupcake_candy_93301_1920x1080.jpg") no-repeat center;
$food: url("http://img.taste.com.au/UZVXAdo7/taste/2016/11/chinese-egg-noodle-and-vegetable-stir-fry-94186-1.jpeg") no-repeat center;

// FONT
$font: 'Roboto',
sans-serif;

// COLORS
$white: #fff;
$offWhite: #fafafa;
$black: #212129;
$gray: #9B9B9B;
$heart: #f53636;
$star: #FFE500;
$button: #E6A756;


* {
   margin: 0px;
   padding: 0;
   text-decoration: none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

#page-container {
   position:relative;
   min-height: 100vh;
   padding-right: 0;
   padding-left: 0;
}

#page-content-wrap {
   padding-bottom: 118px;
}

ul {
   list-style-type: none;
}

.errors {
   color: $offWhite;
}

li {
   label {
      display: none;
   }
}

.loginform {
   width: 100%;
   margin: 0 auto;
}

form {
   margin-bottom: 35px;
   dl {
      dt {
         color: $offWhite;
      }
   }
}

.page-heading {
   text-align: center;
   color: $offWhite;
   margin-top: 20px;
}

.form-control {
   height: auto;
   input {
      width: 100%;
   }
   textarea {
      width: 100%;
   }
}

.browse-container {
   .card {
      font-size: 0.75rem;
      position: relative;
      display: flex; //flex-direction: column;
      background: $white;
      width: 90%;
      height: 80px;
      margin: 10px auto;
      box-shadow: 0px 0px 30px 2px #000;
      @media(max-width: 767px) {
         .header-wrapper {
            padding-right: 5px;
         }
      }
      .header {
         margin: 3px;
         background-size: cover;
         height: 70px;
         .icon a .fa-heart-o {
            position: absolute;
            left: 270%;
            bottom: 20%;
            background: $heart;
            color: $white;
            font-size: 1em;
            font-weight: bold;
            padding: 15px;
            border-radius: 50%;
            box-shadow: 0px 5px 30px 1px $heart;
         }
      }
      @media(max-width:767px) {
         .text-wrapper {
            padding-left: 5px;
         }
      }
      .text {
         color: $gray;
         max-height: 200px;
         display: flex;
         flex-direction: column;
         .recipe-title {
            font-size: 0.75rem;
            color: $black;
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin: 5px 0px;
         }
         .info {
            font-size: 0.75rem;
         }
         .fa-clock-o {
            color: $gray;
            margin-left: 0;
         }
         .fa-users {
            margin-left: 15px;
            color: $gray;
         }

         .favourites {
            font-size: 0.75rem;
            .fa {
               margin-left: 0;
               margin-right: 5px;
            }
         }
      }
      .description {
         text-align: auto;
         display: none;
         font-size: 0.75rem;
         line-height: 1.5;
         text-overflow: ellipsis;
      }
      a.btn {
         display: none;
         position: absolute;
         bottom: 0;
         height: 10%;
         width: 100%;
         font-size: 100%; //display: block;
         background: $button;
         color: $white;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         text-align: center;
         transition: 250ms;
         &:hover {
            background: $heart;
            transition: 250ms;
         }
      }
   }

   @media(min-width: 768px) {
      .card {
         font-size: 1rem;
         position: relative;
         display: flex;
         flex-direction: column;
         background: $white;
         width: 90%;
         height: 400px;
         margin: 20px auto;
         box-shadow: 0px 0px 30px 2px #000;
         .header {
            background-size: cover;
            height: 150px;
            .icon a .fa-heart-o {
               left: 85%;
               bottom: -60%;
            }
         }
         .text {
            .recipe-title {
               font-size: 1.1rem ;
               margin: 5px 15px;
            }
            .info {
               font-size: 0.75rem;
            }
            .fa-clock-o {
               color: $gray;
               margin-left: 15px;
            }
            .fa-users {
               margin-left: 15px;
               color: $gray;
            }

            .favourites {
               .fa {
                  margin-left: 15px;
                  margin-right: 5px;
               }
            }
         }
         .description {
            display: block;
            margin: 10px 15px;
            font-size: 0.75rem;
            line-height: 1.5;
            text-overflow: ellipsis;
         }
         a.btn {
            position: absolute;
            bottom: 0;
            height: 10%;
            width: 100%;
            font-size: 100%;
            display: block;
            background: $button;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            text-align: center;
            transition: 250ms;
            &:hover {
               background: $heart;
               transition: 250ms;
            }
         }
      }
   }
}



.recipe-container {
   background-color: $offWhite;
   border-radius: 10px;
   margin-top: 25px;

   .recipe-img {
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 10px;
   }

   .recipe-title {
      margin-top: 10px;
   }

   .recipe-meta {
      margin-bottom: 15px;
      .fa {
         margin-right: 10px;
      }
   }

   .recipe-details {
      margin-bottom: 15px;
      .fa {
         font-size: 2rem;
         margin-right: 15px;
         color: #2d8c6c;
      }

      .fa-clock-o {
         align-self: center;
         font-size: 2.5rem;
      }
   }

   .recipe-description {
      margin: 0;
      margin-bottom: 15px;
   }

   input[type="checkbox"] {
      display: none;
   }

   #unfavourite {
      position: relative;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      font-size: 1.3em;
      font-weight: bold;
      padding: 15px;
      border-radius: 50%;
      background: $heart;
      color: $white;
      box-shadow: 0px 5px 30px 1px $heart;
      border: none;

      .fa {
         position: absolute;
         right: 23%;
         bottom: 20%;
      }
   }

   #favourite {
      position: relative;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      font-size: 1.3em;
      font-weight: bold;
      padding: 15px;
      border-radius: 50%;
      background: $white;
      color: $heart;
      box-shadow: 0px 5px 30px 1px $white;
      border: solid 1px $heart;

      .fa {
         position: absolute;
         right: 23%;
         bottom: 20%;
      }
   }

   .recipe-ingredients {
      padding-left: 30px;
      padding-top: 15px;
   }

   ol {
      padding-left: 15px;
   }

}

#cuisine-choose {
   display: none;
}

#main_ingredient-choose {
   display: none;
}


.tooltiptext {
   visibility: hidden;
   width: 85px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 5px;
   position: absolute;
   z-index: 1;
   bottom: 185%;
   left: 185%;
   margin-left: -75px;
   opacity: 0;
   transition: opacity 0.3s;
}



.tooltiptext::after {
   content: "";
   position: absolute;
   top: 120%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

.addItem {
   width: 1.75rem;
}

.addItem:hover {
   .tooltiptext {
      visibility: visible;
      opacity: 1;
   }
}

#addSection {
   margin-top:5px;
}

.selector {
   dd {
      display: inline-block;
      min-width: 135px;
   }
}

@media(min-width:376px) {
   .checkbox {
      padding-top: 35px;
   }
}

.checkbox {
   dt {
      display: inline-block;
   }
   dd {
      display: inline-block;
      margin-left: 5px;
      margin-bottom: -2px;
      input {
         width: 1rem;
         height: 1rem;
      }
   }
}

#addIngredientSection {
   width: 1.75rem;
   height: 1.75rem;
   margin-left: 5px;
}

#removeIngredientSection {
   width: 1.75rem;
   height: 1.75rem;
   margin-left: 5px;
}

.sectionName {
   display: block;
   max-width: 175px;
   margin-top: 10px;
}

.button-icon--wrapper {
   position: relative;
   .fa-plus-circle {
      position: absolute;
      font-size: 0.75rem;
      right: 1px;
      bottom: 14px;
   }
   .fa-minus-circle {
      position: absolute;
      font-size: 0.75rem;
      right: 1px;
      bottom: 14px;
   }
}

.ingredients-and-method {
   margin-top: 25px;
}

.utensils {
   margin-top: 25px;
}

.footer {
   position: absolute;
   width: 100%;
   bottom: 0;
}
